/* -------------- */
/* Components */
.area__encabezado {
  grid-area: area__encabezado;
}
/* Menú */
/* Retocando estilos de Bootstrap */
.navbar {
  width: 100%;
  border-bottom: 5px solid $quaternary-color;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  z-index: 1030;
  transform: translateY(-30px);
  transition: 4.8s;
  img {
    margin: 35px 0 20px 20px;
    transform: scale(1.2);
    transition: 4.8s;
  }
}
header nav {
  figure {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    img {
      width: 100px;
      border-radius: 50%;
    }
    &:hover {
      padding: 15px;
      border-radius: 50%;
      transform: scale(1.5);
      transform: translateX(15px);
      text-transform: uppercase;
      transition: 0.8s;
      border-bottom: 5px solid $nineth-color;
      border-left: 5px solid $nineth-color;
    }
  }
  .nav-link {
    padding: 16px;
    font: {
      size: 16px;
      weight: 650;
    }
    transition: 0.5s;
    text: {
      align: center;
      decoration: none;
    } // Aquí nextee las propiedades de texto
    &:hover {
      background-color: $tertiary-color;
      padding: 15px;
      border-radius: 25px;
      transform: scale(1.1);
      transform: translateX(5px);
      text-transform: uppercase;
      transition: 0.8s;
    }
  }
}
/* ----------------- */
/* Footer */
.area__footer {
  grid-area: area__footer;
  width: 100%;
  background-color: $quaternary-color;
  margin-right: calc(
    0 * var(--bs-gutter-x)
  ); // 0em - Reseteo margin de Bootstrap para que no se superponga
  margin-left: calc(
    0 * var(--bs-gutter-x)
  ); // 0em - Reseteo margin de Bootstrap para que no se superponga
  .footer__item {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid: {
      template-columns: repeat(3, 1fr);
      gap: 50px;
    }
    padding: 35px 0px;
    .social figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        border-radius: 50%;
      }
    }
    .social h2 {
      color: $primary-color;
      margin-bottom: 25px;
      font-size: 22px;
    }
    .social p {
      font-size: medium;
      color: $primary-color;
      margin-bottom: 10px;
      a {
        font-size: 20px;
        color: $primary-color;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          color: $secondary-color;
          transition: 0.5s;
        }
      }
      i {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
    .red-social a {
      display: inline-block;
      text: {
        decoration: none;
        align: center;
      }
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: $primary-color;
      margin-right: 10px;
      background-color: $tertiary-color;
      transition: all 300ms ease;
      &:hover {
        color: $quaternary-color;
      }
    }
  }
  .copyright {
    background-color: $secondary-color;
    padding: 15px 10px;
    text-align: center;
    color: $primary-color;
    small {
      font-size: 15px;
    }
  }
}
/* Form */
.form {
  margin-top: 40px 0 40px 0;
  padding-bottom: auto;
}
form fieldset {
  border: 0;
}
.form__body {
  width: 400px;
  height: 685px;
  background-color: $senary-color;
  border: 1px solid $quinary-color;
  border-radius: 8px;
  padding: 20px 9px 0px 9px;
  text-align: center;
  align-items: center;
  float: left;
  input {
    width: 70%;
    margin-top: 5%;
    padding: 5%;
    &:hover {
      @include fontStyles(
        12px,
        $septenary-color,
        $senary-color
      ); // Font-size, color, background-color
      font-size: medium;
    }
  }
  select {
    font-size: 12px;
    width: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  textarea {
    font-size: 12px;
    width: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  .consent {
    margin-top: 5px;
    font-size: 14px;
    &:hover {
      color: $nineth-color;
    }
    .consent_check {
      margin: 10px;
      width: 15px !important;
      height: 15px !important;
    }
  }
  &:hover {
    box-shadow: 0px 0px 25px $tertiary-color;
    transition: all 1s;
    border-radius: 15px;
    background-color: $secondary-color;
  }
}
#send {
  font-size: 18px;
}
.consent {
  font-size: 16px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
}
#consent {
  width: 10px;
  height: 10px;
}
/* Card de Servicos con precios - page service.html */
.card {
  background-color: $senary-color;
  border: 1px solid $quinary-color;
  border-radius: 8px;
  padding: 10px 4px 0px 4px;
  text-align: left;
  align-items: left;
  .card__title {
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 5px;
  }
  li {
    font-size: 16px;
    color: $primary-color;
  }
  &:hover {
    box-shadow: 0px 0px 25px $tertiary-color;
    transition: all 1s;
    border-radius: 15px;
    background-color: $secondary-color;
  }
}
/* WhatsApp Widdeg - Start */
#whatsAppWidget {
  position: fixed;
  display: inline;
  text-align: center;
  line-height: 50px;
  right: 20px;
  bottom: 3px;
  float: left;
  margin-bottom: 60px;
  z-index: 20;
  .whatsapp-widget {
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px $whatsapp-color;
    text-align: center;
    line-height: 50px;
    color: $primary-color;
    background-color: $secondary-color;
    margin-right: 10px;
    svg {
      display: inline;
      justify-content: center;
      align-items: center;
      fill: $whatsapp-color;
      width: 41px;
      height: 50px;
      &:hover {
        fill: $primary-color;
        transition: all 300ms ease;
        width: 45px;
        height: 54px;
      }
    }
  }
}
/* WhatsApp Widdeg - End */
.title {
  @extend .titleStyles; // Font-size, color, background-color
  letter-spacing: 5px;
}
.subtitle {
  @extend .subtitleStyles; // Font-size, color, background-color
  letter-spacing: 3px;
}
.button {
  @extend .buttonStyles; // Font-size, color, background-color
  letter-spacing: 3px;
}

.button1 {
  @extend .button1Styles; // Font-size, color, background-color
  letter-spacing: 3px;
}

.button2 {
  @extend .button2Styles; // Font-size, color, background-color
  letter-spacing: 2px;
}
