@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Hice cambios particulares para que funcione en el proyecto.
*/
@import url("/assets/fonts/Hack/Hack Regular Nerd Font Complete.ttf");
html, body, div, span, applet,
object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption,
tbody, tfoot, thead, tr, th,
td, article, aside, canvas,
details, embed, figure,
figcaption, footer, header,
hgroup, menu, nav, output,
ruby, section, summary,
time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption,
figure, footer, header, hgroup, menu,
nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- Bases - Imports - Variables - Maps - Mixins --- */
/* Fuentes */
/*font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}*/
.titleStyles, .title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
  text-shadow: 0px 4px 4px black; }
  .titleStyles:hover, .title:hover {
    color: #df4759; }

/* EStilos generales del proyecto */
body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
  background-color: #333;
  /* Fuente y color de texto */ }

/* --- Layouts --- */
/* Grid para Index */
.container__index {
  height: 100vh;
  display: grid;
  grid-template-areas: "area__encabezado" "area__intro" "area__cards" "area__footer"; }

/* Grid para About */
.container__about {
  height: 100vh;
  display: grid;
  grid-template-areas: "area__encabezado" "area__about" "area__footer"; }

/* Grid para Contact */
.container__contact {
  height: 100vh;
  display: grid;
  grid-template-areas: "area__encabezado" "area__contact" "area__footer"; }

/* Grid para Location */
.container__location {
  height: 100vh;
  display: grid;
  grid-template-areas: "area__encabezado" "area__location" "area__footer"; }

/* Grid para Service */
.container__service {
  height: 100vh;
  display: grid;
  grid-template-areas: "area__encabezado" "area__service" "area__build" "area__footer"; }

/* -------------- */
/* Components */
.area__encabezado {
  grid-area: area__encabezado; }

/* Menú */
/* Retocando estilos de Bootstrap */
.navbar {
  width: 100%;
  border-bottom: 5px solid #df4759;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  z-index: 1030;
  transform: translateY(-30px);
  transition: 4.8s; }
  .navbar img {
    margin-top: 35px;
    transform: scale(1.2);
    transition: 4.8s; }

header nav figure {
  display: flex;
  justify-content: left;
  margin-top: 5px; }
  header nav figure img {
    width: 100px;
    border-radius: 50%; }
  header nav figure:hover {
    *background-color: rgba(51, 51, 51, 0.65);
    padding: 15px;
    border-radius: 50%;
    transform: scale(1.5);
    transform: translateX(15px);
    text-transform: uppercase;
    transition: 0.8s; }

header nav .nav-link {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  text-align: center;
  text-decoration: none; }
  header nav .nav-link:hover {
    background-color: rgba(51, 51, 51, 0.65);
    padding: 15px;
    border-radius: 25px;
    transform: scale(1.1);
    transform: translateX(5px);
    text-transform: uppercase;
    transition: 0.8s; }

/* ----------------- */
/* Footer */
.area__footer {
  grid-area: area__footer;
  width: 100%;
  background-color: #df4759;
  margin-right: calc( 0 * var(--bs-gutter-x));
  margin-left: calc( 0 * var(--bs-gutter-x)); }
  .area__footer .footer__item {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 35px 0px; }
    .area__footer .footer__item .social figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .area__footer .footer__item .social figure img {
        width: 100px;
        border-radius: 50%; }
    .area__footer .footer__item .social h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 22px; }
    .area__footer .footer__item .social p {
      font-size: medium;
      color: #fff;
      margin-bottom: 10px; }
      .area__footer .footer__item .social p a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        transition: 0.5s; }
        .area__footer .footer__item .social p a:hover {
          color: #333;
          transition: 0.5s; }
      .area__footer .footer__item .social p i {
        width: 20px;
        height: 20px;
        margin-right: 5px; }
    .area__footer .footer__item .red-social a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: rgba(51, 51, 51, 0.65);
      transition: all 300ms ease; }
      .area__footer .footer__item .red-social a:hover {
        color: #df4759; }
  .area__footer .copyright {
    background-color: #333;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .area__footer .copyright small {
      font-size: 15px; }

/* Form */
.form {
  margin-top: 40px 0 40px 0;
  padding-bottom: auto; }

form fieldset {
  border: 0; }

.form__body {
  width: 400px;
  height: 685px;
  background-color: rgba(126, 126, 126, 0.6);
  border: 1px solid #c20000;
  border-radius: 8px;
  padding: 20px 9px 0px 9px;
  text-align: center;
  align-items: center;
  float: left; }
  .form__body input {
    width: 70%;
    margin-top: 5%;
    padding: 5%; }
    .form__body input:hover {
      font-size: 12px;
      color: black;
      background-color: rgba(126, 126, 126, 0.6);
      font-size: medium; }
  .form__body select {
    font-size: 12px;
    width: 70%;
    margin-top: 5%;
    padding: 5%; }
  .form__body textarea {
    font-size: 12px;
    width: 70%;
    margin-top: 5%;
    padding: 5%; }
  .form__body:hover {
    box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.65);
    transition: all 1s;
    border-radius: 15px;
    background-color: #333; }

#send {
  font-size: 18px; }

.consent {
  font-size: 16px;
  display: inline-block;
  flex-direction: row;
  align-items: center; }

#consent {
  width: 10px;
  height: 10px; }

.title {
  letter-spacing: 5px; }

/* --- Home --- */
/* Index */
.area__intro {
  grid-area: area__intro; }

/* Intro */
.intro {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 90vh;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url("../img/taller.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .intro h1 {
    font-weight: bold;
    margin-bottom: 15px; }
  .intro p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 5px; }
  .intro a {
    text-decoration: none;
    color: #fff; }

.intro .btn {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  *background-color: #df4759;
  text-transform: uppercase;
  *border-radius: 25px;
  padding: 10px;
  margin-top: 20px; }
  .intro .btn:hover {
    color: #c20000;
    background-color: #333;
    padding: 10px; }

/* ---------------- */
.area__cards {
  grid-area: area__cards; }

/* Carrusel Cards */
.consejos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 50px;
  border-radius: 30px; }
  .consejos li {
    list-style: none; }

.title {
  display: block;
  font-weight: 800;
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
  text-shadow: 0px 4px 4px black; }

.subtitle {
  display: block;
  font-weight: 100;
  font-size: 30px;
  margin: 20px 0;
  text-align: center; }

.card {
  width: 95%;
  height: 50vh;
  display: flex;
  position: relative;
  padding: 25px;
  margin: 25px 0 25px 20px;
  box-sizing: border-box;
  align-items: flex-end;
  text-decoration: none;
  border: 1px solid #c20000;
  background-image: url("../img/lavar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.card2 {
  background-image: url("../img/herramientas-basicas.jpg"); }

.card3 {
  background-image: url("../img/tubeless.png"); }

.inner {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.65);
  box-sizing: border-box;
  padding: 30px; }

.inner__title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 4px 4px black;
  position: relative;
  margin: 0 0 20px 0; }

.inner__subtitle {
  font-size: 16px;
  color: #fff;
  text-align: center; }

.inner__service {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-decoration: none; }

/* Pseudoclase :hover*/
.inner__service:hover {
  color: #c20000; }

/* --- Nosotros --- */
/* Aera About*/
.area__about {
  grid-area: area__about; }

/* About */
.about {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url("../img/un-taller.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .about h1 {
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(51, 51, 51, 0.65); }
  .about h3 {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.65);
    padding: 10px;
    border-radius: 25px; }
  .about p {
    display: block-inline;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 25px 0 25px;
    text-align: justify; }

/* --- Contact --- */
/* Area Contacto*/
.area__contact__section {
  grid-area: area__contact; }

/* Contacto */
.area__contact__section {
  margin-top: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.65) 100%, rgba(51, 51, 51, 0.65) 100%), url("../img/valvulas.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff; }

.contact__intro {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .contact__intro h1 {
    font-weight: bold;
    padding: 10px; }
  .contact__intro p {
    font-size: 22px;
    font-weight: bold;
    padding: 10px; }
  .contact__intro a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px; }
    .contact__intro a:hover {
      box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.65);
      transition: all 1s;
      border-radius: 15px;
      background-color: #c20000; }

.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 50px 0px 50px 0px;
  color: #fff; }

/* --- Servicios --- */
.area__service {
  grid-area: area__service; }

/* service */
/* Tabla */
.service {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.65) 100%, rgba(51, 51, 51, 0.65) 100%), url("../img/un-taller.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding-bottom: 30px; }
  .service h1 {
    font-weight: bold;
    padding: 10px;
    margin-top: 100px; }

.table-responsive {
  display: block;
  width: 90%;
  margin: 25px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey; }
  .table td {
    font-size: medium;
    padding: 15px;
    text-align: justify;
    background-color: rgba(51, 51, 51, 0.65); }

.price {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px; }

/* Area Bulid */
.area__build {
  grid-area: area__build; }

/* Build*/
.build {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.65) 100%, rgba(51, 51, 51, 0.65) 100%), url("../img/taller.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  .build h4 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: #fff; }
  .build p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin: 15px; }
  .build iframe {
    width: 65vw;
    height: 60vh;
    border: solid 5px;
    border-color: black !important;
    border-radius: 10%; }
    .build iframe:hover {
      border-color: red !important; }

/* --- Sucursal --- */
/* Area location */
.area__location {
  grid-area: area__location; }

/* Location */
.location {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  .location h1 {
    font-weight: bold;
    margin: 50px 0 10px 0; }
  .location h4 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px; }
  .location p {
    font-size: 20px;
    padding: 10px; }

.map {
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
  box-sizing: border-box;
  text-align: center; }
  .map iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: red solid 2px; }
  .map:hover {
    box-shadow: 0px 0px 25px #c20000;
    transition: all 1s; }

.guia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 10px; }

/* --- Medias & Animaciones --- */
/* Animaciones animista.net */
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both; }

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

.bounce-in-bck {
  -webkit-animation: bounce-in-bck 1.5s both;
  animation: bounce-in-bck 1.5s both; }

@-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

/* Responsive @Media */
@media screen and (max-width: 768px) {
  .title {
    font-size: 40px; }
  .intro {
    margin-top: 180px; }
    .intro p {
      font-size: 18px; }
  .inner__title {
    font-size: 16px; }
  .inner__subtitle {
    font-size: 14px; }
  .logo {
    font-size: 14px;
    padding: 0 25px; }
  .menu__items li {
    font-size: 14px; }
    .menu__items li a {
      font-size: 14px; }
  .about h1 {
    font-size: 40px;
    margin-top: 110px; }
  .about h3 {
    font-size: 18px; }
  .about p {
    font-size: 16px; }
  .contact__intro p {
    font-size: 18px; }
  .contact__intro a {
    font-size: 18px; }
  .form__body {
    width: 380px;
    height: 680px; }
  #send {
    font-size: 18px; }
  #consent {
    font-size: 18px;
    width: 7px;
    height: 7px; }
  .location h4 {
    margin-top: 50px;
    font-size: 16px; }
  th {
    font-size: 12px; }
  .precio {
    font-size: 18px; }
  .build h4 {
    font-size: 20px; }
  .area__footer .footer__item {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 25px 0px; }
    .area__footer .footer__item .social figure img {
      width: 150px; }
  footer {
    font-size: 18px; }
    footer a {
      font-size: 18px; }
  .footer__into {
    font-size: 18px; } }

@media screen and (max-width: 640px) {
  .title {
    font-size: 30px; }
  .intro p {
    font-size: 16px; }
  .inner__title {
    font-size: 14px; }
  .inner__subtitle {
    font-size: 14px; }
  .about h1 {
    font-size: 35px;
    margin-top: 120px; }
  .about h3 {
    font-size: 18px; }
  .about p {
    font-size: 16px; }
  .contact__intro p {
    font-size: 16px; }
  .contact__intro a {
    font-size: 16px; }
  .form__body {
    width: 360px;
    height: 650px; }
  #send {
    font-size: 16px; }
  #consent {
    font-size: 16px;
    width: 5px;
    height: 5px; }
  .location h4 {
    margin-top: 30px;
    font-size: 16px; }
  th {
    font-size: 14px; }
  .precio {
    font-size: 14px; }
  .build h4 {
    font-size: 16px; }
  footer {
    font-size: 16px; }
    footer a {
      font-size: 16px; }
  .footer__into {
    font-size: 16px; } }

@media screen and (max-width: 480px) {
  .title {
    font-size: 25px; }
  .inner {
    width: 100%;
    height: 80%;
    padding: 0; }
    .inner .inner__title {
      font-size: 16px; }
    .inner .inner__subtitle {
      font-size: 14px; }
  .about h1 {
    font-size: 22px;
    margin-top: 180px; }
  .about h3 {
    font-size: 14px; }
  .about p {
    font-size: 14px; }
  .contact__intro p {
    font-size: 14px; }
  .contact__intro a {
    font-size: 14px; }
  .form__body {
    width: 350px;
    height: 630px; }
  #send {
    font-size: 10px; }
  #consent {
    font-size: 10px;
    width: 5px;
    height: 5px; }
  .location h4 {
    font-size: 16px; }
  .location p {
    font-size: 16px; }
  th {
    font-size: 16px; }
  .precio {
    font-size: 14px; }
  .build h4 {
    font-size: 14px; }
  footer {
    font-size: 14px; }
    footer a {
      font-size: 14px; }
  .footer__into {
    font-size: 14px; } }

@media screen and (max-width: 480px) and (orientation: landscape) {
  .title {
    font-size: 25px; }
  .card {
    font-size: 8px; }
  .menu__items li a {
    margin: 5px;
    font-size: 10px; }
  .menu__items {
    overflow: scroll;
    height: calc(100% - 50px); } }

@media screen and (max-width: 375px) {
  .intro {
    margin-top: 130px; }
    .intro h1 {
      margin-top: 80px; }
    .intro p {
      font-size: 14px; }
  .title {
    font-size: 25px; }
  .inner {
    width: 100%;
    height: 80%;
    padding: 0; }
    .inner .inner__title {
      font-size: 12px; }
    .inner .inner__subtitle {
      font-size: 12px; }
  .about h1 {
    font-size: 18px;
    margin-top: 60px; }
  .about h3 {
    font-size: 16px; }
  .about p {
    font-size: 10px; }
  .contact__intro p {
    font-size: 10px; }
  .contact__intro a {
    font-size: 10px; }
  .form__body {
    width: 330px;
    height: 610px; }
  #send {
    font-size: 10px; }
  #consent {
    font-size: 10px;
    width: 5px;
    height: 5px; }
  .location h4 {
    font-size: 10px; }
  .table {
    font-size: 10px; }
  .precio {
    font-size: 12px; }
  .build h4 {
    font-size: 14px; }
  footer {
    font-size: 12px; }
    footer a {
      font-size: 12px; }
  .footer__into {
    font-size: 8px; } }

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 120px; }
    .intro h1 {
      margin-top: 80px; }
    .intro p {
      font-size: 12px; }
  .title {
    font-size: 22px; }
  .inner {
    width: 100%;
    height: 80%;
    padding: 0; }
    .inner .inner__title {
      font-size: 12px; }
    .inner .inner__subtitle {
      font-size: 12px; }
  .about h1 {
    font-size: 18px;
    margin-top: 60px; }
  .about h3 {
    font-size: 16px; }
  .about p {
    font-size: 10px; }
  .contact__intro p {
    font-size: 10px; }
  .contact__intro a {
    font-size: 10px; }
  .form__body {
    width: 290px;
    height: 580px; }
  #send {
    font-size: 10px; }
  #consent {
    font-size: 10px;
    width: 5px;
    height: 5px; }
  .location h4 {
    font-size: 10px; }
  .table-responsive {
    width: 80%;
    height: 80%; }
  .table {
    font-size: 10px; }
  .precio {
    font-size: 14px; }
  .build h4 {
    font-size: 14px; }
  footer {
    font-size: 12px; }
    footer a {
      font-size: 12px; }
  .footer__into {
    font-size: 8px; } }
