/* Fuentes */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@400;700&display=swap');*/
@import url("/assets/fonts/Hack/Hack\ Regular\ Nerd\ Font\ Complete\ Mono.ttf");
/*font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}*/
/* EStilos generales del proyecto */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Hack Regular Nerd Font", sans-serif;
}

/* Estilos generales */
body {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
}

/* Grid para Index */

.container__index {
  height: 100vh;
  display: grid;
  grid-template-areas:
  "area__encabezado"
  "area__intro"
  "area__cards"
  "area__footer";
}

.area__encabezado {
  grid-area: area__encabezado;
}
/* Menú */
.logo {
    font-size: 20px;
    padding: 0 75px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 15px;
  }
  .menu {
    background-color: rgb(194, 0, 0);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 7px 0 10px rgba(0, 0, 0, 0.7);
  }
  .menu__items {
    display: flex;
    list-style: none;
    margin-right: 15px;
  }
  .menu__items li {
    border-radius: 3px;
    margin: 0 5px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
  }
  .menu__items li:hover {
    background: rgba(0, 0, 0, 0.363);
    transition: 0.4s;
    font-weight: bold;
  }
  .menu__items li a {
    color: #fff;
    text-decoration: none;
    padding: 4 10px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Efectos 3D */
  .menu ul {
    display: flex;
    margin: auto;
    color: white;
    list-style: none;
  }
  .menu li {
    list-style: none;
    padding: 10px 20px;
  }
  .menu li:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    transition: all 300ms;
  }
  .menu ul li ul {
    *display: none;
    flex-direction: column;
    position: absolute;
    background: rgb(158, 2, 2);
    margin-top: 15px;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
    box-shadow: 1px 1px 10px 0px black;
  }
  .menu ul li:hover > ul {
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
  }
  .menu ul li ul:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid rgb(158, 2, 2);
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
  }
  .menu ul li ul li ul li {
    position: relative;
  }
  .menu ul li ul li:hover > ul {
    transform: rotateY(0deg) scale(1);
  }
  .menu ul li ul li ul {
    right: -90px;
    top: 36px;
    background: rgb(158, 2, 2);
  }
  .menu ul li ul li ul:before {
    position: absolute;
    border-bottom: 8px solid rgb(158, 2, 2);
    margin-top: 18px;
    margin-left: -14px;
    transform: rotate(-90deg);
  }
  
  /* Boton responsive */
  .btn__menu {
    color: #fff;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 15px;
    font-size: medium;
    background: rgb(158, 2, 2);
    z-index: 9999;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  ul.show {
    transform: translateX(0);
    top: 60px;
  }
  
  /* ************ */

.area__intro {
  grid-area: area__intro;
}
/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #00000077 100%, #00000077 100%),
      url("/assets/img/taller.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .intro h1 {
    font-size: 50px;
    font-weight: bold;
  }
  .intro p {
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    margin: 15px;
  }
  .intro a {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(194, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
  }
  .intro a:hover {
    color: rgb(194, 0, 0);
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 25px;
    padding: 10px;
  }

  /* ************ */

.area__cards {
  grid-area: area__cards;
}

/* Cards */

.consejos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
  }
  .consejos li {
    list-style: none;
  }
  .title {
    display: block;
    font-weight: 800;
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
    text-shadow: 0px 4px 4px #000000;
  }
  .subtitle {
    display: block;
    font-weight: 100;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
  }
  .card {
    width: 95%;
    height: 50vh;
    display: flex;
    position: relative;
    padding: 25px;
    margin: 25px 0 25px 20px;
    box-sizing: border-box;
    align-items: flex-end;
    text-decoration: none;
    border: 1px solid rgb(194, 0, 0);
    background-image: url("/assets/img/lavar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card2 {
    background-image: url("/assets/img/herramientas-basicas.jpg");
  }
  .card3 {
    background-image: url("/assets/img/tubeless.png");
  }
  .inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 40px;
  }
  .inner__title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 4px 4px #000000;
    position: relative;
    margin: 0 0 20px 0;
  }
  .inner__subtitle {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  }

    /* ************ */
/* About */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right, #00000099 100%, #00000099 100%),
      url("/assets/img/un-taller.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .about h1 {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #00000081;
    padding: 10px;
    border-radius: 25px;
  }
  .about h3 {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #00000081;
    padding: 10px;
    border-radius: 25px;
  }
  .about p {
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
  }
  
  /* Services */
  /* Tabla */
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #00000099 100%, #00000099 100%),
      url("/assets/img/un-taller.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
  }
  .services h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    text-align: center;
    border: #fff 3px solid;
  }
  .precio {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #00000081;
    padding: 10px;
    border-radius: 25px;
    justify-content: center;
  }
  th,
  td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #fff;
    border-collapse: collapse;
  }
  th {
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    background-color: #00000081;
    color: #fff;
    text-align: center;
  }
  td {
    letter-spacing: 1px;
    justify-content: center;
    vertical-align: baseline;
  }
  tbody td {
    text-align: center;
  }
  tfoot th {
    text-align: center;
  }
  /* Build*/
  .build {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right, #00000099 100%, #00000099 100%),
      url("/assets/img/taller.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
  .build h4 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
  }
  .build p {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
  }
  .build iframe {
    width: 50vw;
    height: 50vh;
  }
  
  /* Form */
  form fieldset {
    border: 0;
  }
  .form__body {
    width: 400px;
    height: 620px;
    margin-top: 15px;
    margin-left: 6%;
    background-color: rgba(126, 126, 126, 0.6);
    border: 1px solid rgb(184, 0, 0);
    border-radius: 8px;
    padding: 20px 9px 0px 9px;
    text-align: center;
    float: left;
  }
  .form__body input {
    width: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  .form__body select {
    width: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  .form__body textarea {
    width: 70%;
    margin-top: 5%;
    padding: 5%;
  }
  .form__body :hover {
    box-shadow: 0px 0px 25px rgb(59, 0, 0);
    transition: all 1s;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.795);
  }
  #send {
    font-size: 20px;
  }
  .consent {
    display: inline-block;
    flex-direction: row;
    align-items: center;
  }
  #consent {
    font-size: 20px;
    width: 10px;
    height: 10px;
  }
  
  /* Location */
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .location h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }
  .location h4 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }
  .map {
    width: 100vw;
    height: 90vh;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .map iframe {
    width: 90%;
    height: 90%;
    border-radius: 25px;
  }
  .guia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px;
  }
  
  /* Contacto */
  .contact__section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #00000099 100%, #00000099 100%),
      url("/assets/img/valvulas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
  }
  .contact__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__intro h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }
  .contact__intro p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }
  .contact__intro a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(194, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
  }

    /* Footer */

.area__footer {
  grid-area: area__footer;
}
/* Footer */
footer {
    display: block;
    margin-left: auto;
    text-align: center;
    background-color: rgb(194, 0, 0);
    color: #fff;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.5);
  }
  .footer__info {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 15px;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  footer a:hover {
    background: rgba(0, 0, 0, 0.363);
    transition: 0.4s;
  }
  .contact__footer {
    font-size: 1em;
    padding: 4 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .redes {
    display: inline-block;
    width: 10px;
    height: 10px;
  }
  
  /* ********** */

  /* Responsive */
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 8px;
    }
    .logo {
      font-size: 10px;
      padding: 0 25px;
    }
    .menu__items li {
      font-size: 10px;
    }
    .menu__items li a {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 640px) {
    body {
      font-size: 8px;
    }
    .menu {
      height: 50px;
    }
    .btn__menu {
      display: inline-flex;
      font-size: 30px;
    }
    .menu__items {
      position: fixed;
      width: 100vw;
      height: calc(100% - 50px);
      background: #414141;
      top: -100vh;
      text-align: center;
      transition: top 0.3s ease-in-out;
      flex-direction: column;
    }
    .menu__items li {
      font-size: 10px;
      margin: 30 0 0 0 !important;
      line-height: 30px;
    }
    .menu__items li:hover {
      background: none;
      transition: 0.4s;
    }
    .menu__items li a {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
    }
    .menu__items li a:hover {
      color: rgb(158, 2, 2);
    }
    .logo {
      font-size: 25px;
      padding: 30px;
    }
  }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    body {
      font-size: 8px;
    }
    .menu__items li a {
      margin: 5px;
      font-size: 10px;
    }
    .menu__items {
      overflow: scroll;
      height: calc(100% - 50px);
    }
  }
  